@{
    ViewData["Title"] = "About";
}
<h2>About Me</h2>
<p>I’m pursuing B.Tech in E&TC from VSSUT and BS in Data Science from IIT Madras.</p>
<p>I was holding leadership roles in IEEE VSSUT SB and have hands-on experience in communication systems, IoT, and electronics design.</p>