@{
    ViewData["Title"] = "Achievments Page";
}
<h2>Achievements</h2>
<ul>
    <li>IEEE Best Student – IEEE Bhubaneswar Section (2024)</li>
    <li>Finalist – Smart India Hackathon (2023)</li>
    <li>Winner – IEEE SPARKATHON Hackathon (2023)</li>
    <li>IEEE YESIST 12 – 2nd Runners-Up (Prelims, 2023)</li>
</ul>