@{
    ViewData["Title"] = "Contacts ";
}
<h2>Contact Me</h2>
<p><strong>Email:</strong> <a href="mailto:debabrata.1331.ind@ieee.org">debabrata.1331.ind@ieee.org</a></p>
<p><strong>GitHub:</strong> <a href="https://github.com/DEBABRATA1331" target="_blank">DEBABRATA1331</a></p>
<p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/public-profile/settings?lipi=..." target="_blank">My Profile</a></p>