@{
    ViewData["Title"] = "Home Page";
}
<h1>Hello! I'm Debabrata Sahoo</h1>
<p>Dual-degree student at VSSUT Burla and IIT Madras. Passionate about Health Care, LiFi, electric vehicles, VLSI, and impactful tech-driven innovation.</p>
<a href="/Home/About">Learn more about me →</a>
