@{
    ViewData["Title"] = "Internships ";
}
<h2>Internship Experience</h2>
<ul>
    <li><strong>CTTC, Bhubaneswar:</strong> IoT Trainee – Sensor-based cloud systems</li>
    <li><strong>NIT Manipur:</strong> EV Charging System – Performance & efficiency optimization</li>
    <li><strong>IIT Bangalore (Intel/VSD):</strong> VLSI Design – 6-month intensive training</li>
</ul>