@{
    ViewData["Title"] = "Skills ";
}
<h2>Technical & Soft Skills</h2>
<ul>
    <li><strong>Languages:</strong> Verilog, Python, C#, MATLAB</li>
    <li><strong>Hardware:</strong> Arduino, ESP32, VLSI Design (DSCH2, Xilinx)</li>
    <li><strong>Tools:</strong> Power BI, GitHub</li>
    <li><strong>Other:</strong> Content Writing, Graphics Design, Public Speaking</li>
</ul>
